.cnt-video
  cursor: pointer
  position: relative
  &::before,&::after
    content: ""
    display: table
  &::after
    clear: both
  img
    filter: opacity(70%)
  &:hover
    img
      filter: opacity(100%)
  &:active
    img
      filter: brightness(80%)

.viewCount
  position: absolute
  left: 50%
  bottom: 0
  padding-left: 8px
  i
    color: #c8c8c8
    &::before
      content: attr(data-info) " views"
      left: 120%
      font-style: normal
      font-weight: bold
      font-size: 0.85em
      position: absolute
      top: 5px
      width: 200%

h3
  margin-top: 0
  font-size: 1em
  padding-left: 8px
  overflow: hidden
img
  float: left
  width: 50%
  height: auto
h3
  font-weight: lighter
