<div class="cnt-video">
  <img [src]="video.thumbs.medium" alt="">
  <h3>{{video.title}}</h3>
  <div *ngIf="video.viewCount" class="viewCount">
    <i class="icon-eye-gray" [attr.data-info]="video.viewCount | countK"></i>
  </div>
<div>
