html
  min-height: 100%
  font-size: 16px
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit

body
  color: map-get($colors,'gray')
  font-family: 'Lato', sans-serif

#{headings(1,6)}
    font-family: 'Titillium Web', sans-serif
    color: map-get($colors, 'wine')
a
  text-decoration: none
ul
  list-style: none
  margin: 0
  padding: 0

.wide
  max-width: 950px
  margin: auto
h2
  font-size: 2.5em
  font-weight: 400
  width: 100%
  padding: 0 10px
  @media screen and (max-width: 400px)
    font-size: 2em
