i[class^="icon"]
  @extend %sprite-principal
  height: 24px
  width: 24px
  display: block

.icon-star
  background-position: 0 -33px
.icon-play
  background-position: -24px -33px
.icon-eye
  background-position: -48px -33px
.icon-eye-gray
  background-position: -72px -33px
.icon-clock
  background-position: -96px -33px
.icon-loader
  background-position: -120px -33px
.icon-magnifer
  background-position: -144px -33px
