<nav class="menu-header">
  <span class="menu-label">Menu</span>
  <span class="rect"></span>
  <div class="menu-list">
    <ul>
      <li *ngFor="let item of items">
        <a [routerLink]="item.url">
          <i [class]="item.icon"></i>
          <span>{{item.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
