.menu-label
  color: #FFF
  margin-right: 5px
  vertical-align: sub
  @media screen and (max-width: 400px)
    display: none
.rect
  background-color: #FFF
  border-radius: 20%
  display: inline-block
  height: 3px
  position: relative
  width: 16px
  transition: .15s
  &::before,&::after
    background-color: #FFF
    content: ""
    border-radius: 20%
    display: inline-block
    height: inherit
    position: absolute
    width: inherit
    transition: inherit
  &::before
    transform: translateY(-200%)
  &::after
    transform: translateY(200%)


nav
  position: relative
  a
    align-items: center
    border-radius: 4px
    color: #797979
    display: flex
    padding: 5px 10px
    i
      margin-right: 5px
    &:hover
      background-color: #f2f2f2
    &:active
      background-color: #e6e6e6
  .menu-list
    display: none
    padding-top: 18px
    position: absolute
    right: -10px
    z-index: 1
    &::before
      content: ""
      border-width: 0 10px 10px
      border-color: #FFF transparent
      display: block
      height: 0
      width: 0
      position: absolute
      border-style: solid
      right: 12px
      top: 10px

    ul
      background-color: #FFF
      border: 1px solid #c7c7c7
      border-radius: 4px
      padding: 5px
  &:hover
    .menu-list
      display: block
    .rect
      background-color: transparent
      &::before
        transform: rotateZ(-225deg)
      &::after
        transform: rotateZ(225deg)
