<header id="principal">
  <div class="wide">
    <a routerLink="/"><h1>Ficticia Videos</h1></a>
    <div class="nav-right">
      <form-search></form-search>
      <menu-xpto [items]="itemMenus"></menu-xpto>
    </div>
  </div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>
