.cnt-video
  width: 58%
  margin-right: 17px
  @media screen and (max-width: 800px)
    width: 100%
    margin: 0
.list-videos
  width: 42%
  @media screen and (max-width: 800px)
    display: flex
    flex-wrap: wrap
    width: 100%
  ul
    border: 1px solid #c7c7c7
    box-shadow: 0 1px 4px #b2b2b2
    height: 524px
    margin: auto
    padding: 15px
    overflow-y: auto
    width: 100%
    @media screen and (max-width: 800px)
      overflow-y: visible
      height: auto

  li
    float: left
    font-size: .9em
    margin-bottom: 16px
    width: 100%
    &:nth-child(2n+1)
      clear: left
    @media screen and (max-width: 800px)
      font-size: .8em
      width: 50%
      &:nth-child(2n+1)
        padding-right: 10px
    @media screen and (max-width: 615px)
      width: 100%
      &:nth-child(2n+1)
        padding-right: 0px

  .loadMore
    position: relative
    margin-bottom: 0
    min-height: 24px
    overflow: hidden
    text-align: center
    text-transform: uppercase
    width: 100%
    .btn-load-more
      display: block
      font-size: .8em
      margin: auto
      max-width: 330px
      width: 100%
      &::after
        content: "..."
        display: inline-block
    i[class^="icon"]
      display: inline
      position: absolute
      top: 0
