<div id="homePage">
  <div class="cnt-video">
    <h2>Vídeos em destaque</h2>
    <video-item *ngIf="videoShowed.id" [videoShowed]="videoShowed" [autoplay]="autoplay"></video-item>
  </div>

  <div class="list-videos">
    <h2><span>+</span> Vídeos</h2>
    <ul>
      <li *ngFor="let video of listVideos.videos">
        <video-list-item (click)="showVideo(video)" [video]="video"></video-list-item>
      </li>
      <li class="loadMore" *ngIf="!finished">
        <span class="btn-load-more" (click)="loadMore()" [hidden]="loading">Carregar mais videos</span>
        <i [hidden]="!loading" class="icon-loader spin"></i>
      </li>
    </ul>
  </div>
</div>
