header#principal
  background-color: map-get($colors,'wine')
  height: 56px
  padding: 12px
  .wide
    display: flex
    justify-content: space-between
    align-items: center
    .nav-right
      display: flex
  h1
    color: #FFF
    height: 32px
    margin: 0
    overflow: hidden
    text-indent: -200%
    width: 168px
    @extend %sprite-principal
    @media screen and (max-width: 500px)
      width: 42px
  .menu-header
    font-family: 'Titillium Web', sans-serif
  .menu-list
    font-weight: 600
