<form [class.active]="active" (submit)="onSearch()">
  <label for="#field-search">
    <i class="icon-magnifer"></i>
  </label>
  <input (blur)="onBlur()"
    (focus)="onFocus()"
    [(ngModel)]="searchText"
    id="field-search"
    name="searchText"
    type="text">
</form>
