form
  width: 210px
  position: relative
  border: 1px solid transparent
  border-radius: 4px
  outline: none
  label
    position: absolute
    right: 4px
    top: 3px
  input
    background: none
    border: none
    color: #FFF
    font-weight: lighter
    margin-right: 20px
    padding: 7px 10px
    outline: none
    width: 100%
  &.active
    background: rgba(0,0,0, .25)
    border: 1px solid #FFF
