.video-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.video-details
  border: 1px solid #c7c7c7
  box-shadow: 0 1px 4px #b2b2b2
  margin: 28px 0
  padding: 10px 20px
  position: relative
  h3
    margin-bottom: 0
    margin-right: 48px
.icons-details
  position: absolute
  top: 25px
  right: 10px
  span
    display: inline-block
    position: relative
    &:hover
      &::before
        opacity: 1
      i
        &::before,&::after
          opacity: 1
    &::before
      background: #FFF
      border: 3px solid #e5e5e5
      border-radius: 6px
      content: attr(data-info)
      font-size: .8em
      left: -125px
      padding: 6px
      position: absolute
      opacity: 0
      transition: .25s
      text-align: center
      top: -42px
      width: 160px
    i
      position: relative
      &::before,&::after
        border-style: solid
        content: ""
        opacity: 0
        position: absolute
        transition: .25s
      &::before
        border-width: 10px 10px 0px 10px
        border-color: #e5e5e5  transparent
        top: -13px
        z-index: -1
      &::after
        border-width: 7px 7px 0px 7px
        border-color: #FFF transparent
        left: 3px
        top: -15px
        z-index: 1
    &:nth-child(1)
      &::before
        width: 100px
        left: -47px

.description
  font-size: .9em
  white-space: pre-line
  word-wrap: break-word
  overflow: hidden
  height: 120px
  cursor: pointer
  &::before
    content: ""
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 50%
    background: linear-gradient(to top, #FFF 60%, transparent)
  &.active
    height: auto
    &::before
      display: none
