<div class="video-container">
  <iframe *ngIf="videoShowed.id"
    [src]="doVideoUrl()"
    frameborder="0"
    allowfullscreen></iframe>
</div>

<div class="video-details">
  <h3>{{videoShowed.title}}</h3>
  <div class="icons-details">
    <span [attr.data-info]="videoShowed.viewCount | number">
      <i class="icon-eye"></i>
    </span>
    <span [attr.data-info]="videoShowed.published | date:'longDate'">
      <i class="icon-clock"></i>
    </span>
  </div>
  <div class="description"
    [class.active]="active"
    (click)="toggleDescription()">
    {{videoShowed.description}}
  </div>
</div>
