.btn-load-more
  border: 1px solid map-get($colors, 'grayLight')
  border-radius: 4px
  cursor: pointer
  padding: 5px
  &:hover
    background-color: #797979
    color: #FFF
  &:active
    background-color: #737373 
